#app {
  .main-container {
    min-height: 100%;
    transition: margin-left $transition-base;
    margin-left: $sideBarWidth;
    position: relative;
    background: $gray-50;
  }

  .sidebar-container {
    transition: width $transition-base;
    width: $sideBarWidth !important;
    background: linear-gradient(180deg, $menuBg 0%, darken($menuBg, 5%) 100%);
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    box-shadow: $shadow-xl;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - #{$navbarHeight});
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: $spacing-md;
      transition: all $transition-base;
    }

    .sub-el-icon {
      margin-right: $spacing-sm;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      background: transparent;
      transition: all $transition-base;
    }

    // menu hover and active states
    .submenu-title-noDropdown,
    .el-submenu__title {
      transition: all $transition-base !important;
      color: $menuText !important;

      &:hover {
        background-color: $menuHover !important;
        padding-left: 22px;
        color: $menuActiveText !important;
      }
    }

    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
      background: $subMenuHover !important;
      border-left: 3px solid $primary !important;
      padding-left: 19px !important;
    }

    // nested menu styling
    & .nest-menu .el-submenu > .el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      transition: all $transition-base;
      color: $menuText !important;

      &:hover {
        background-color: $subMenuHover !important;
        padding-left: 28px;
        color: $subMenuActiveText !important;
      }
    }

    // active menu item
    .el-menu-item.is-active {
      background-color: $primary !important;
      color: white !important;
      padding-left: 22px !important;
      border-left: 3px solid $primary-light !important;

      &:hover {
        background-color: $primary-dark !important;
      }
    }
  }

  // Hide sidebar responsive
  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform $transition-base;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: $spacing-md;
    }

    .sub-el-icon {
      margin-right: $spacing-sm;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;
    @include scrollBar;
  }
}
